<!DOCTYPE html>
<html>
 {% load static %}
<head>
<meta charset="utf-8">
<title>run_test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#563d7c;">
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo.png' %}" height="32" class="d-inline-block align-top" alt="">
            Compass 自动化测试平台
        </a>
        <div class="collapse navbar-collapse">
        </div>
    </nav>
 <br>
    <form method="post">
        选择需要执行测试ID：<input type="text" name="nn">
        <br>


    <input type="submit" value="执行">
</form>
    <p>{{ rlt }}</p>
    <br>

    <form   action="/run_test/exec/" method="get">
        <input type="submit" value="查看执行日志">
    </form>
 <br>

 <br>

<a href="{{ link }}">测试结果 </a>
        <br>

    <br>

 <button  onclick="location.href='/'">
        返回首页
    </button>
   <br>
</form>
        <p>自动化测试列表</p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>envName</th>
            <th>TetstModel</th>
            <th>AutoPush</th>
            <th>email1</th>
            <th>email2</th>
            <th>email3</th>
            <th>TestTime</th>
        </tr>
        {% for item2 in li%}
        <tr>
            <td>{{ item2.ID}} </td>
            <td>{{ item2.Name}} </td>
            <td>{{ item2.envName}} </td>
            <td>{{ item2.TestModel}} </td>
             <td>{{ item2.autopush}} </td>
            <td>{{ item2.email1}} </td>
            <td>{{ item2.email2}} </td>
            <td>{{ item2.email3}} </td>
            <td>{{ item2.TestTime}} </td>
        </tr>
   {% endfor %}
    </table>

</body>
</html>
